body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: aliceblue;
    line-height: 1.6;
    background-color: rgb(127, 160, 193);
}

h1, h2, h3 {
    color: aliceblue;
    text-align: center;
}

#banner {
    background-color: darkblue; 
    color: white; 
    padding: 10px; 
    font-size: 18px;
}
p {
    text-align: justify;
}

a {
    color: #008000;
    text-decoration: underline;
}

.autors {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.autors th, .autors td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    color:black;
}

.autors th {
    background-color: darkblue;
    color: white;
}

.books {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}


.books th, .books td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    color:black;
}

.books th {
    background-color: darkblue;
    color: white;
}

img {
    width: 120px;
    height: 150px;

    object-fit: cover;
}

.index-books {
    width: 600px;
    height: 400px;
    margin: 15px auto;
}

dl {
    background-color: aliceblue;
    color: black;
}

li {
    color: aliceblue;
    font-size: 18px;
}

ul {
    list-style-type: square;
}
/* 1. Контекстні (спадкові) селектори */
nav ul li a {
    color: darkred;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: darkblue;
    text-decoration: none;
}
/* 2. Дочірні селектори (>) */
nav > ul {
    background-color: #ddeeff;
    padding: 10px;
    border-radius: 8px;
}

.autors > tbody > tr > td {
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
}
/* 3. Сусідні селектори (+) */
h1 + hr {
    border: 2px solid white;
    margin-bottom: 20px;
}

h3 + ol {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
